mat-card {
  top: 64px;
  width: 300px;
  margin: auto;
}

mat-slider {
  margin: auto;
  width: 100%;
}

span {
  margin: auto 0;
}


.helpfulLabel {
  margin-right: 10%;
}

.friendlyLabel {
  margin-right: 9%;
}
