
<mat-card class="login-container" >
  <div fxLayout="column">
    <div fxFlex></div>
      <mat-form-field fxFlex>
          <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput placeholder="Password" type="password" name="" id="">
      </mat-form-field>
  </div>
  <div fxLayout="row">
    <button (click)="register()" mat-button color="accent" fxFlex>Register</button>
    <div fxFlex></div>
    <button (click)="login()" mat-button color="primary" fxFlex>Login</button>
  </div>

</mat-card>

