<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Landing Page</title>
</head>

<body>
  <mat-toolbar color="primary" class="toolbar">
      <mat-toolbar-row class="toolbar">
        <button (click)="homepage()"> Shout Out </button>
        <span class="spacer"></span>
        <mat-icon (click)="profilepage()" class="icon"> account_circle </mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>

</html>
