<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Landing Page</title>
</head>

<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span> {{title}} </span>
      <span class="spacer"></span>
      <mat-icon class="icon"> account_circle </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-login></app-login>
  <!-- <br>
  <mat-card>
    <mat-select placeholder="Favorite Animal">
      <mat-option value="cat">Cat</mat-option>
      <mat-option value="dog">Dog</mat-option>
    </mat-select>

  </mat-card>

  <div (click)="toggle()" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
      <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
    </div> -->

</body>

</html>
