<mat-card class="dashboard">

  <mat-card-content>
    <mat-form-field class="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z10">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let team" (click)="goTeam(team.id)" class="teamName" > {{team.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aveHelpful">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Helpful </mat-header-cell>
          <mat-cell *matCellDef="let team"> {{team.aveHelpful.toFixed(1)}} </mat-cell>
        </ng-container>

      <ng-container matColumnDef="aveResponsive">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Responsive </mat-header-cell>
        <mat-cell *matCellDef="let team"> {{team.aveResponsive.toFixed(1)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aveFriendly">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Friendly </mat-header-cell>
        <mat-cell *matCellDef="let team"> {{team.aveFriendly.toFixed(1)}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>

  </mat-card-content>

</mat-card>


