.dashboard {
  display: flex;
  flex-direction: column;
  margin: auto;
  top: 64px;
  min-width: 385px;
}

mat-table {
  overflow: auto;
  min-height: 302px;
  max-height: 547px;
}

.filter {
  padding: 8px 24px 0;
}

th.mat-sort-header-sorted {
  color: black;
}

.teamName {
  cursor: pointer;
  outline: 0;
}
