.dashboard {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  min-width: 382px;
  padding-top: 65px;
}

mat-table {
  overflow: auto;
  min-height: 302px;
  max-height: 547px;
}

.filter {
  padding: 8px 24px 0;
}

th.mat-sort-header-sorted {
  color: black;
}

.teamName {
  cursor: pointer;
  outline: 0;
}
